 @import "../base/variables";
 @import "../base/extend";
 @import "../base/mixin";



 .container-titulo-seleccionada{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: $margen-entre-section;
    margin-bottom: $margen-entre-section;

    .titulo-seleccionada{
        width: 100%;
        text-align: center;
        @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800); 
        opacity: 0.8;
        padding: 15px;
      }
      
}


.container-hamburguesas-seleccionadas{
    @include flexing(flex,center);
    padding-bottom: $margen-entre-section;

    .container-card-seleccionada{
      width: 25em;
      @extend %estructura-cards;

        .container-inputs{
            display: flex;
            flex-direction: column;
          }
      }
      .container-valor-cantidad{
        @include flexing(flex,space-between);
        padding: 20px;

        .container-number{
          @include flexing(flex,flex-end);
            align-items: center;
            
            .input-number{
                width: 15%;
              }
          }
      }
      
}












