 @import "../base/listas";
 @import "../base/variables";
 
 /*INICIO CHEESE*/
 .container-titulo-seleccionada{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: $margen-entre-section;
    margin-bottom: $margen-entre-section;

    .titulo-seleccionada{
        width: 100%;
        text-align: center;
        font-family: $bg-fuente-titulos;
        font-weight: $bg-negrita;
        font-size: nth($size,4);
        opacity: 0.8;
        padding: 15px;
      }
      
}


.container-hamburguesas-seleccionadas{
    display: flex;
    justify-content: center;
    padding-bottom: $margen-entre-section;

    .container-card-seleccionada{
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0,0,0,.125);
        width: 25em;

        .container-inputs{
            display: flex;
            flex-direction: column;
          }
      }
      .container-valor-cantidad{
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .container-number{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            .input-number{
                width: 15%;
              }
          }
      }
      
}


  /* FIN CHEESE*/










