 @import "../base/variables";
 @import "../base/listas";
 @import "../base/mixin";
 
 
 /*INICIO CONTACTO CSS*/
  
  
  /* Section primera*/
  
  .section-primera {
    @include flexing(flex,center);
    flex-direction: column;
    align-items: center;
    padding-top: $margen-entre-section;

    .titulo-section-primera {
        font-family: $bg-fuente-titulos;
        font-weight: $bg-negrita;
        font-size: nth($size, 3);
        margin-bottom: 10px;
        @media screen and (max-width:468px) {
          font-size: 15px;
      }
      @media screen and (max-width:300px) {
          font-size: 12px;
          
      } 
      }
      
  }
  
  
  
  .parrafos {
    font-family: "Times New Roman", Times, serif;
    @media screen and (max-width:468px) {
      font-size: 10px;
  }
  @media screen and (max-width:300px) {
      font-size: 8px;
      
  }
  }
  #direccion {
    margin-bottom: 20px;
  }
  
  .mapa {
    width: 80%;
    height: 20em;
    margin-bottom: $margen-entre-section;
  }
  
  /*Section segunda*/
  
  .section-segunda {
    padding: 4em;
    background-color: rgb(233, 233, 233);
    @include flexing(flex,center);
    align-items: center;
    flex-direction: column;
  }
  #titulo-largo{
    @media screen and (max-width:468px) {
      font-size: 10px;
  }
  @media screen and (max-width:320px) {
      font-size: 7px;
      
  }
  }
  .titulos-section-segunda {
    margin-bottom: 7px;
    margin-top: 10px;
    font-family: $bg-fuente-titulos;
    font-weight: 700;
    font-size: nth($size, 1);
    @media screen and (max-width:468px) {
      font-size: 12px;
  }
  @media screen and (max-width:300px) {
      font-size: 10px;
      
  }
  }
  
  
  
  
  
  /*FIN CONTACTO CSS*/