@import "../base/variables";
@import "../base/mapas";

/*INICIO GALERIA CSS*/
  
  
.container-video{
    display: map-get($secciones-tarjetas, bg-display);
    flex-wrap: map-get($secciones-tarjetas, bg-wrap);
    justify-content: map-get($secciones-tarjetas, bg-jc);
    width: 100%;
    margin-bottom: $margen-entre-section;

    video{
        height: 25em;
        padding:2px;
      }
  }

  
  
  /*FIN GALERIA CSS*/