@import "../base/variables";
@import "../base/mixin";


.container-logo-titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  display: none;
  .container-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    .logo-header{
      width: 7rem;
    }
  }
  .titulo{
    width: 90%;
    text-align: center;
    margin-top: 1em;
    @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800);
    border-bottom: 2px solid rgba(0, 0, 0, 0.273);
    padding-bottom: 1.5em;
    @media screen and (max-width:468px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width:300px) {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width:648px) {
    display: flex;
  }
}




.menu-galeria{
  display: flex;
  flex-direction: row;
  margin-top: $margen-entre-section;
  margin-right: 2em;
  margin-left: 2em;

  .menu-img1 {
    margin: 1em;
    width: 50%;
    height: 20em;
    @include flexing(flex,center);
    align-items: flex-end;
    animation: changeImg 20s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    @keyframes changeImg {
      0%{
        background-image: url(../multimedia/imagenes/bacon-menu.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
      50%{
        background-image: url(../multimedia//imagenes/bacon\ ab.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
      100%{
        background-image: url(../multimedia/imagenes/bacon-menu.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
    }
    @media screen and (max-width:648px){
      margin: 0px;
      width: 100%;
      height: 12em;
    } 
  }
  .menu-img2 {
    margin: 1em;
    width: 50%;
    height: 20em;
    background-image: url(../multimedia/imagenes/royale-inicio.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);

      
    @include flexing(flex,center);    
      align-items: flex-end;
    
      &:hover{
        animation: changeImg2 2s;
        animation-iteration-count: infinite;
        @keyframes changeImg2 {
            0%{
              background-image: url(../multimedia/imagenes/onion\ .png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            25%{
              background-image: url(../multimedia/imagenes/cheese.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            50%{
              background-image: url(../multimedia/imagenes/bg\ mc.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            100%{
              background-image: url(../multimedia/imagenes/royale-inicio.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            
        }
      }
      @media screen and (max-width:648px){
        margin: 0px;
        margin-top: 2em;
        width: 100%;
        height: 12em;
      } 
    }
    @media screen and (max-width:648px){
      margin-top: 4em;
      display: flex;
      flex-direction: column;
    }   
}

.container-mapa {
    margin-top: $margen-entre-section;
    margin-bottom: $margen-entre-section;
    @include flexing(flex,center);
    flex-direction: column;
    align-items: center;
    .titulos-index {
      @include titulos-subtitulos(1.2rem,("Neutra-Bold", sans-serif),800);
      margin-bottom: 2em;
        @media screen and (max-width:468px) {
          font-size: 1rem;
        }
        @media screen and (max-width:300px) {
          font-size: 1rem;
        }

      }
      .mapa {
        box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
        -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
        -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
        width: 50%;
        height: 20em;
        @media screen and (max-width:648px){
          margin: 0px;
          width: 100%;
          height: 12em;
        } 
      }
      @media screen and (max-width:648px){
      margin-right: 2em;
      margin-left: 2em;
      }
}


  
  
  
  
  
  
  
  
  